body {
  color: #7e7f84;
  text-align: left;
  font-size: 1em;
  font-family: 'Times New Roman', Times, sans-serif;
}

.cb-main {
  max-width: 1170px;
  margin: 0 auto;
}

.h-top {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}

.clr {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.logo {
  float: left;
  font-size: 1.375em;
  font-family: 'Times New Roman', Times, sans-serif;
}

.c-basket {
  float: right;
}

.c-basket p{
  float: left;
  font-size: 0.75em;
  font-weight: 600;
}

.c-basket p img {
  width: 15px; 
  height: auto; 
  vertical-align: middle;
  margin-right: 3px;
}

.h-phone {
  padding-top: 9px;
}

.h-basket {
  border: 1px solid #eee;
  padding: 7px 25px;
  margin-left: 20px;
}

.h-basket a {
  text-transform: uppercase;
  color: #7e7f84;
  text-decoration: none;
  margin-left: 20px;
}

.h-basket a:hover {
  color: #f45a40;

}

.h-bottom {
  padding: 20px 0;
}

.menu {
  float: left;
}

ul {
  list-style-type: none;
}

.menu li {
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 0.875em;
}

.menu li a {
  color: #7e7f84;
  text-decoration: none;
}

.menu li a:hover {
  color: #f45a40;
}

.s-b {
  float: left;
  margin-top: 0px;
}

.search-btn {
  
  width: 30px; 
  float: left;
  margin: 5px 5px 0 0;
}

.search {
  float: left;
  font-size: 0.875em;
  color: #8f9094;
  border: none;
  line-height: 1.4
}

.main-character ul li{
position: relative; color: #f45a40;
}

.main-character ul li h2{
    position: absolute; top: 200px; left: 30px; font-size: 3.6875em; font-weight: bold; line-height: 1.1;
}

.main-character ul li p{
    position: absolute; top: 370px; left: 30px; font-size: 0.875em;
}

.main-character img{
    display: block; margin-bottom: 50px;
}

.b1-main{
  margin-bottom: 50px;
  }
  
  .b1-main article{
      width: 31.6%; float: left; margin-left: 2.6%;
  }
  
  .b1-main article:first-child{
      margin-left: 0;
  }
  
  .b1-main article img{
      display: block; margin: 0 auto 20px auto;
  }
  
  .b1-main article h2{
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 1.375em; 
    margin-bottom: 20px;
  }

  .b1-main a {
    color: #f45a40;
   text-decoration: none;
  }

  .b1-main a:hover {
    text-decoration: underline; 
  }
  
  .b1-main article p{
      font-size: 0.875em;
  }

.b2-section {
  margin-bottom: 60px;
}

.b2-section>h2 {
  text-align: center;
  color: #67686d;
  font-size: 1.375em;
  margin-bottom: 30px;
}

.b2-main {

}

.b2-main article {
  width: 23%;
  margin-left: 2.66666666667%;
  float: left;
}

.b2-main article:first-child {
  margin-left: 0;
}

.b2-main article img {
  display: block;
  margin: 0 auto;
}

.b2-main-character {
  padding: 20px 20px 0 20px;
  border: 1px solid #eee;
  border-top: 0;
}

.b2-main-character h2 {
  color: #67686d;
  font-size: 1.125em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.b2-main-character h3 {
  font-size: 0.875em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-style: italic;
}

.b2-main-character p {
  font-size: 0.625em;
  margin-bottom: 15px;
}

p.p-b {
  border-top: 1px solid #eee;
  font-size: 0.875em;
  color: #f45a40;
  padding: 15px 0;
}

.price {
  float: left;
}

.basket-btn {
  float: right;
  left: 5px; bottom: 8px;
  width: 40px;
  height: auto;
}

.about {
  margin-bottom: 60px;
}

.about article {
  float: left;
  width: 60%;
}

.about article h2 {
  font-size: 1.325em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #67686d;
}

.about article p {
  font-size: 0.875em;
  margin-bottom: 25px;
  font-style: italic;
}

.about .map {
  float: right;
  width: 35%;
}

.mapin {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}

.mapin iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%
}

.subscribe {
  background: #f45a40;
  color: #fff;
  padding: 30px 0;
}

.subscribe h2 {
  float: left;
  font-size: 1.325em;
  text-transform: uppercase;
}

.subscribe-form {
  float: right;
}

.email-inpt {
  text-transform: uppercase;
  font-size: 0.875em;
  float: left;
  width: 200px;
  padding: 7px 20px;
  border: none;
}

.submit-inpt {
  background: #ff674f;
  float: left;
  margin-left: 20px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 0.875em;
}

.ftr {
  background: #2a2d34;
  padding: 40px 0;
}

.ftr h2 {
  color: #fff;
  font-size: 1.325em;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.ftr p {
  font-size: 0.875em;
  margin-bottom: 20px;
}

.ftr h3 {
  font-size: 0.875em;
  margin-bottom: 5px;
}

.ftr h3 a {
  color: #fff;
  text-decoration: none;
}

.ftr h3 a:hover {
  text-decoration: underline;
}

.support {
  float: left;
  width: 47%;
  margin-right: 3%;
}

.support a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #7e7f84;
}

.support a:hover {
  text-decoration: underline;
}

.ftrmail {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-bottom: 15px;
  padding: 7px 20px;
  box-sizing: border-box; 
}

.ftrtext {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.75em;
  margin-bottom: 15px;
  padding: 7px 20px;
  box-sizing: border-box;
}

.ftrsubmit {
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  background: #f45a40;
  padding: 7px 20px;
  color: #fff;
  cursor: pointer;
}